<div class="container">
    <div class="title-container">
        <h1 class="title">Personal Information</h1>
    </div>
    <div class="avatar-container">
        <div class="wrapper">
            <div class="avatar-container">
                <div class="avatar-icons-container">
                    <img src="/assets/images/avatar-10.svg" alt="avatar" class="avatar">
                    <div class="btn-section">
                        <button mat-raised-button class="fill-btn">
                            <label for="fileUpload">Change</label>
                        </button>
                        <input type="file" id="fileUpload" style="display: none" />
                    </div>
                    <div class="spacer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <form class="input-form" [formGroup]="personalInformationForm">
            <div>
                <div class="details-container">
                    <div>
                        <label class="field-label">Display name</label>
                        <mat-form-field class="input-field" appearance="outline">
                            <input type="text" matInput value="Alvin" formControlName="displayName">
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('displayName')?.hasError('required')">
                                Display name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="details-container">
                    <div>
                        <label class="field-label">First name</label>
                        <mat-form-field class="input-field" appearance="outline">
                            <input type="text" matInput value="John" formControlName="firstName">
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('firstName')?.hasError('required')">
                                First name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <label class="field-label">Last name</label>
                        <mat-form-field class="input-field" appearance="outline">
                            <input type="text" matInput value="Alvin" formControlName="lastName">
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('lastName')?.hasError('required')">
                                Last name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="details-container">
                    <div>
                        <label class="field-label">About yourself</label>
                        <mat-form-field appearance="outline" class="input-field">
                            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                formControlName="aboutYourself"></textarea>
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('aboutYourself')?.hasError('maxlength') && !personalInformationForm?.get('aboutYourself')?.hasError('required')">
                                The <strong>maximum</strong> allowed characters is 100
                            </mat-error>
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('aboutYourself')?.hasError('required') && !personalInformationForm?.get('aboutYourself')?.hasError('maxlength')">
                                About yourself is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <label class="field-label">Your area of interest</label>
                        <mat-form-field class="input-field" appearance="outline">
                            <mat-select multiple formControlName="areaOfInterest">
                                <mat-option value="programming">Programming</mat-option>
                                <mat-option value="writing">Writing</mat-option>
                                <mat-option value="networking">Networking</mat-option>
                                <mat-option value="machine learning">Machine Learning</mat-option>
                            </mat-select>
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('areaOfInterest')?.hasError('required')">
                                Area of interest is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="details-container">
                    <div>
                        <label class="field-label">Are you a student or a professional?</label>
                        <mat-form-field class="input-field" appearance="outline">
                            <mat-select formControlName="studentOrProfessional">
                                <mat-option value="student">Student</mat-option>
                                <mat-option value="professional">Professional</mat-option>
                            </mat-select>
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('studentOrProfessional')?.hasError('required')">
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="personalInformationForm.get('studentOrProfessional')?.value === 'professional' ">
                        <label class="field-label">Experience</label>
                        <mat-form-field class="input-field" appearance="outline">
                            <mat-select formControlName="experience">
                                <mat-option value="0-5">0-5</mat-option>
                                <mat-option value="5-10">5-10</mat-option>
                                <mat-option value="10 & above">10 & above</mat-option>
                            </mat-select>
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('studentOrProfessional')?.hasError('required')">
                                Experience is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="details-container"
                    *ngIf="personalInformationForm.get('studentOrProfessional')?.value === 'professional' ">
                    <div>
                        <label class="field-label">Expertise</label>
                        <mat-form-field class="input-field" appearance="outline">
                            <mat-select formControlName="expertise">
                                <mat-option value="frontend">Frontend</mat-option>
                                <mat-option value="backend">Backend</mat-option>
                            </mat-select>
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('expertise')?.hasError('required')">
                                Area of expertise is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <label class="field-label">Your role</label>
                        <mat-form-field appearance="outline" class="input-field">
                            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="role"></textarea>
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('role')?.hasError('required') && !personalInformationForm?.get('role')?.hasError('maxlength')">
                                Your role is <strong>required</strong>
                            </mat-error>
                            <mat-error class="error-msg"
                                *ngIf="personalInformationForm?.get('role')?.hasError('maxlength') && !personalInformationForm?.get('role')?.hasError('required')">
                                The <strong>maximum</strong> allowed characters is 200
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="buttons-section">
                <button mat-raised-button class="fill-btn" (click)="submit()"
                    [disabled]="!personalInformationForm.valid"
                    [ngClass]="!personalInformationForm.valid ? 'disabled-btn' : '' ">Save</button>
            </div>
        </form>
    </div>
</div>