@import "src/styles/shared";
@include btns;
@include forms;

.container {
    .title-container {
        .title {
            font-weight: 500;
            font-size: 1rem;
        }
    }

    .avatar-container {
        .avatar {
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            background-color: red;
        }

        .avatar-icons-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 44rem;
            cursor: pointer;

            .btn-section {
                display: flex;
                flex-direction: column;
                width: 50%;
            }

            .spacer {
                width: 20%;
            }
        }
    }

    .buttons-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        @media (min-width: 768px) {
            flex-direction: row;
            width: 40%;
        }

        .disabled-btn {
            cursor: not-allowed;
            pointer-events: all !important;
            background-color: grey;
        }
    }

    .form-container {
        margin-top: 2rem;

        .details-container {
            display: grid;
            grid-template-columns: 1fr;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }

            .error-msg {
                font-size: 12px;
            }
        }
    }
}