.main-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        font-size: x-large;
        padding-bottom: 2rem;
    }

    .check-section {
        margin-top: 4rem;

        .check-icon {
            color: green;
            transform: scale(4.5);
        }
    }

    .btn-section {
        margin-top: 4rem;
        width: 100%;

        .ok-btn {
            width: 100%;
            background-color: #3E50EB;
            color: #fff;
        }
    }
}