<div class="main">
    <div class="parent-container">
        <div class="container">
            <div class="form-container sign-in-container">
                <form class="form" [formGroup]="loginForm">
                    <h1 class="title">Sign in</h1>
                    <input matInput type="text" placeholder="Username" formControlName="username" />
                    <mat-error class="error-msg" *ngIf="loginForm?.get('username')?.hasError('required')">
                        Username is <strong>required</strong>
                    </mat-error>

                    <input matInput type="password" placeholder="Password" formControlName="password" />
                    <mat-error class="error-msg" *ngIf="loginForm?.get('password')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <a href="#">Forgot your password?</a>
                    <button mat-flat-button class="fill-btn" (click)="login()">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Welcome to Course Master</h1>
                        <div class="description-section">
                            <p class="description">Enter your username and password to begin learning.</p> <br>
                            <p class="description">Username: dummy</p>
                            <p class="description">Password: dummy@123</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>