@import "src/styles/shared";
@include btns;
@include forms;

.main {
    @media (min-width: 768px) {
        margin-top: 100px;
    }

    .parent-container {
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        .form-container {
            .title {
                font-weight: bold;
                margin: 0;
            }

            .description {
                font-size: 14px;
                font-weight: 100;
                line-height: 20px;
                letter-spacing: 0.5px;
                margin: 20px 0 30px;
            }

            span {
                font-size: 12px;
            }

            a {
                color: #333;
                font-size: 14px;
                text-decoration: none;
                margin: 15px 0;
            }

            .form {
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 50px;
                height: 100%;
                text-align: center;
                padding-bottom: 2rem;
                padding-top: 2rem;
            }


            input {
                background-color: #eee;
                border: none;
                padding: 12px 15px;
                margin: 8px 0;
                width: 100%;
            }

            .error-msg {
                font-size: 12px;
            }
        }

        .container {
            display: grid;
            grid-template-columns: 1fr;
            min-height: 480px;
            order: -1;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }
        }

        .form-container {
            height: 100%;
            transition: all 0.6s ease-in-out;
        }

        .overlay-container {
            height: 100%;
            overflow: hidden;
            transition: transform 0.6s ease-in-out;
            z-index: 100;

            .overlay {
                background: #4456FF;
                background: -webkit-linear-gradient(to right, #5a6afb, #4456FF);
                background: linear-gradient(to right, #5a6afb, #4456FF);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0 0;
                color: #FFFFFF;
                height: 100%;
                transform: translateX(0);
                transition: transform 0.6s ease-in-out;
            }

            .overlay-panel {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                height: 100%;
                transition: transform 0.6s ease-in-out;
                padding: 1rem;

                .description-section {
                    margin-top: 2rem;
                }
            }

            p {
                font-size: 14px;
                font-weight: 100;
                line-height: 20px;
                letter-spacing: 0.5px;
            }
        }
    }
}