.footer {
    display: block;
    width: 100%;
    top: 12rem;
    padding-top: 20rem;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    background: var(--text-color-1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    @media (min-width: 768px) {
        position: relative;
        padding-top: 15rem;
    }

    ul {
        list-style: none;
        text-align: left;
    }

    a {
        text-decoration: none;
        display: inline-block;
        position: relative;
        color: var(--text-color-1);
        font-weight: 500;
    }

    ul>li>a {
        color: #fff;
    }

    ul>li {
        line-height: 2em;
    }

    .start-earning {
        position: absolute;
        left: 0;
        right: 0;
        top: -100px;

        .footer-start {
            display: none;

            @media (min-width: 768px) {
                display: flex;
                position: relative;
                width: 90%;
                max-width: 1280px;
                margin: auto;
                background: #4456ff;
                border-radius: 14px;
                justify-content: space-between;
                align-items: center;
                padding: 70px 100px;
            }
        }
    }

    .inner {
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: space-between;
        max-width: 1180px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        color: #fff;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .main-logo {
            position: relative;
            display: flex;
            align-items: center;

            .logo {
                margin-right: 15px;

                .text {
                    margin: 0;
                    color: #fff;
                }
            }

            .logo-info {
                text-align: left;
                line-height: 20px;

                .text {
                    font-size: 17px;
                    line-height: 17px;
                    color: #fff;
                    letter-spacing: .18em;
                    font-weight: 600;
                }

                .copyright {
                    color: #fff;
                    font-size: 12px;
                    line-height: 12px;
                }
            }
        }
    }


    .is-logo>a {
        text-decoration: unset;
    }


    .column {
        width: 100%;
        font-size: 14px;
        text-align: left;
    }

    .is-navigation {
        a:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 0.1rem;
            bottom: 0;
            left: 0;
            top: 1.6rem;
            background-color: #fff;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        a:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    .column-title {
        margin-bottom: 0.5em;
        font-weight: 700;
        font-size: 16px;
        text-align: left;
    }

    .column-title:not(:first-child) {
        margin-top: 1.5em;
    }

    a.button {
        display: inline-flex;
        position: relative;
        height: 60px;
        margin-right: 20px;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        background: #fff;
        color: #4456ff;
        border-radius: 36px;
        box-shadow: 0px 24px 74px rgb(60 0 189 / 20%);
        font-size: 16px;
        font-weight: 700;
        padding: 0 30px;
        text-decoration: unset;
    }

    .section-title {
        font-size: 44px;
        font-weight: 700;
        color: #fff;
    }

    h3.section-sub-title {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
    }

    .section-sub-title span {
        opacity: 0.6;
    }

    h3.section-sub-title strong {
        font-weight: 600;
    }


    @media only screen and (max-width: 990px) and (min-width: 200px) {

        .footer .inner {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        .start-learning {
            position: unset;
        }

        .footer-start {
            width: 100%;
            display: block;
            padding: 30px 20px;
            margin: 30px auto;
        }

        .section-title {
            font-size: 30px;
        }

        h3.section-sub-title {
            font-size: 18px;
        }

        .footer {
            padding-top: 0;
        }

        a.button {
            height: 50px;
            margin-top: 10px;
        }

        .column.is-logo {
            order: 4;
        }
    }
}