<footer class="footer">
    <div class="start-earning">
        <div class="footer-start">
            <div class="texts">
                <h2 class="section-title">Start earning now</h2>
                <h3 class="section-sub-title"><span>Start with </span><strong>$95</strong><span> as </span><span> your
                        initial deposit.</span></h3>
            </div>
            <a href="#" class="button">
                <span class="label">Start Investing</span>
            </a>
        </div>
    </div>
    <div class="inner">
        <div class="column is-logo">
            <a href="#" class="main-logo" style="text-decoration: none;">
                <div class="logo">
                    <h1 class="text">Course Master.</h1>
                </div>
                <div class="logo-info">
                    <div class="text">Course Master Template</div>
                    <span class="copyright">© 2023. All rights reserved.</span>
                </div>
            </a>
        </div>
        <div class="column is-navigation">
            <div class="column-title">Navigation</div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Signup</a></li>
            </ul>
        </div>
        <div class="column is-navigation">
            <div class="column-title">Contact</div>
            <ul>
                <li><a href="#" target="_blank"><i class="fal fa-envelope-open"></i> info@coursemaster.com</a></li>
                <li><a href="#" target="_blank"><i class="fal fa-hashtag"></i> @coursemaster</a></li>
                <li><a href="#" target="_blank"><i class="fal fa-link"></i> coursemaster.com</a></li>
            </ul>
        </div>
        <div class="column is-navigation">
            <div class="column-title">Blog</div>
            <ul>
                <li><a href="#">Financial advise 2023</a></li>
                <li><a href="#">What is a REIT?</a></li>
                <li><a href="#">How to make money with Course Master</a></li>
            </ul>
        </div>
    </div>
</footer>